{% extends "::elite.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les catégories</h1>
        </div>
        <div class="col-md-12">
            <a href="{{ path('artist_category_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter une catégorie</button>
            </a>
            <br><br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom de la catégorie</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if categories|length == 0 %}
                        Vous n'avez pas encore ajouté de catégories.
                    {% endif %}
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                <a href="{{ path('artist_category_edit', { 'id' : category.id }) }}" title="">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-eye"></i> Modifier
                                    </button>
                                </a>
                                <a href="{{ path('artist_category_remove', { 'id' : category.id }) }}" title="">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Supprimer
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}