{% extends "::pixit.html.twig" %}

{% block body %}
    <a href="{{ asset('responsive_filemanager/filemanager/dialog.php?type=0') }}" class="btn btn-primary iframe-btn" type="button">Gestionnaire de fichier</a>
{% endblock %}
{% block javascripts %}
    <script>
        $('.iframe-btn').fancybox({
            'width'		: 900,
            'height'	: 600,
            'type'		: 'iframe',
            'autoScale'    	: false
        });
        function close_window() {
            parent.$.fancybox.close();
        }
    </script>
{% endblock %}