{% extends "::elite.html.twig" %}
{% block title %} - Ajout d'une catégorie {% endblock %}
{% block stylesheets %}
	<style>
		input[type="text"] {
			/*background-color: #000000;*/
		}
	</style>
{% endblock %}

{% block body %}
    <a href="{{ path('album_category_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajouter une catégorie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $('input[type="text"]').addClass('form-control');
        $('button[type="submit"]').addClass('btn btn-primary');
    </script>
{% endblock %}