body {
    background-color: #ffffff;
    background-image: url(../img/background/new_background.jpg);
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}
.navbar-custom {
    background-color: transparent;
    height: 100px;
}
.navbar-custom .nav li a {
    color: #ffffff;
    font-weight: 600;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu li a:hover {
    background-color: #000000;
}
.navbar-custom .nav li a:hover {
    border-bottom: 3px solid #B6A15D;
    color: #ffffff;
}
.navbar-custom .navbar-brand {
    width:60px !important;
    height:80px;
}
.navbar-brand img {
    margin-left: -25px;
}
.zoom-gallery {
    margin-top: 50px;
}
h1, h2 {
	font-size: 25px;
    color: #B6A15D;
}
h3 {
    font-size: 18px;
}

a {
    color: #B6A15D;
}
section#wrapper {
	margin: 80px auto 20px auto;
}
.btn {
	border-radius: 0px !important;
}

/** FILTRES ARTISTS **/
.filters-nav {
    width: 550px;
    margin: 0 0 0px 0;
}
.filters-nav li {
    margin: 0 10px 0 0;
}
.filters-nav a.selected {
	background-color: #c3b179;
}
.filters-nav a {
    color: #fff !important;
    border-radius: 0px !important;
    background-color: #111315;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.filters-nav a:hover,
.filters-nav a:focus {
	background-color: #c3b179 !important;
}
.current {
    background-color: #B6A15D;
}

/** ARTISTS **/
.artist {
	margin-bottom: 30px;
}
.item-thumb {
	background-color: #242424;
	position: relative;
}
.item-thumb:hover {
    opacity: .9;
}
.item-thumb::before {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: "";
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
	transition: box-shadow 0.18s ease;
}
.item-thumb img {
	opacity: 0.5;
	transition: opacity 0.18s ease;
}
.item-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    color: #FFF;
}
.item-info p {
    margin: 0;
}
.item-title-main {
	font-size: 16px;
}
.item-byline {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: normal;
}
.item-btn {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	left: 25px;
	z-index: 5;
    color: #ffffff;
	background-color: #B6A15D;
    background-color: #000000;
}
.item-btn:hover {
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	left: 25px;
	z-index: 5;
    color: #ffffff;
	background-color: transparent;
    background-color: #B6A15D;
    border: 1px solid #B6A15D;
}

.btn-info {
    color: #fff !important;
    background-color: #000000 !important;
    border:1px solid #000000;
}
.btn-info:hover {
    color: #fff !important;
    background-color: #B6A15D !important;
    border-color: #B6A15D !important;
}

/** ARTISTS & ALBUMS **/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.filters-nav li a:active {
    background-color: #c3b179 !important;
}
.section-title, .widget-title {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    margin: 30px auto 30px auto;
    line-height: 1;
    letter-spacing: 0.18em;
}
/** **/

/** ARTIST **/
.item-thumb-artist {
    background-color: #242424;
    position: relative;
    width: 360px;
    height: 360px;
}
.item-thumb-artist::before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
    transition: box-shadow 0.18s ease;
}
.item-thumb-artist img {
    opacity: 0.5;
    transition: opacity 0.18s ease;
}
.item-meta {
    border-top: 1px solid #363636;
    min-width: 360px;
    width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
.item-meta th, .item-meta td {
    border-bottom: 1px solid #363636;
    border-left: 1px solid #363636;
}
.item-meta td {
    border-right: 1px solid #363636;
}
.item-meta th, .item-meta td {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    padding: 13px 15px;
    border-bottom: 1px solid #363636;
    border-left: 1px solid #363636;
    width: 50%;
}

.tracklisting {
    list-style: none;
    margin: 1px 0 20px;
    padding: 0;
}
.tracklisting .track {
    position: relative;
    margin-top: -1px;
    display: block;
    padding: 4px;
    min-height: 67px;
    border: 1px solid #363636;
    z-index: 1;
}
.tracklisting .track::before, .tracklisting .track::after {
    content: " ";
    display: table;
}
.sm2_link {
    width: 58px;
    height: 58px;
    float: left;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    background-color: #2a2a2a;
    color: #FFF;
    line-height: 56px;
    font-size: 22px;
    transition: 0;
}
.sm2_link.sc-play .fa::before {
    content: "\f1be";
}
.tracklisting .track-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 70px;
    top: 15px;
}
.track-no {
    color: #5c5c5c;
    font-weight: 300;
    position: absolute;
    right: 15px;
    font-size: 36px;
    top: 0;
}
.bootstrap-tabs ul li {
    background-color: #B6A15D;
    width: 50%;
    text-align: center;
}
.nav-tabs {
    border: none;
}

/** EVENTS **/
.event {
    margin: 15px auto;
}
.item-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    color: #FFF;
}
.item-info p {
    margin: 0;
}
.item-title-intro {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
}
.item-title-main {
    font-size: 18px;
}
.item-byline {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 300;
    font-weight: normal;
}

/** GALERIE **/

/** CONTACT **/

/** FOOTER **/
.footer {
    color: #ffffff;
    background-color: transparent;
    margin: 100px 0 100px 0;
}
.footer-copyright a{
    color: #000 !important;
}

.widget {
    margin: 0 0 50px;
}
.widget ul {
    list-style: none;
}
.social-item:hover i {
    color: #000;
}
.btn-facebook {
    background-color: #3B5998;
}
.btn-youtube {
    background-color: #DA2723;
}
.btn-soundcloud {
    background-color: #FF6908;
}

/** MEDIA QUERIES **/
@media screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: #0f0f0f;
    }
}