.marquee-container {
    width: 100%;
    height: 14em;
    /*margin: 1em auto;*/
    border: 1px solid #ffffff;
    margin: 0 auto;
    overflow: hidden;
    background: transparent;
    position: relative;
    box-sizing: border-box;
    background-image: url("../filtre/filtre.png");
}

.marquee {
    top: 0;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}


/* Make it move! */
@keyframes marquee {
    0%   { top:   12em }
    100% { top: -13em }
}