<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hexarec Administration{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ asset('components/bootstrap-formhelpers/dist/css/bootstrap-formhelpers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('components/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('components/fancybox/source/jquery.fancybox.css') }}">
    <script>
        UPLOADCARE_PUBLIC_KEY = 'e41c0ce5b5c0a11bd277';
    </script>
    {% block stylesheets %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_homepage') }}">HEXAREC ADMIN</a>
        </div>
        <!-- Top Menu Items -->
        {{ render(controller('AdminBundle:User:getUser')) }}
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="{{ path('admin_homepage') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_slider_index') }}"><i class="fa fa-fw fa-dashboard"></i> Slides</a>
                </li>
                <li>
                    <a href="{{ path('background_index') }}"><i class="fa fa-fw fa-dashboard"></i> Background</a>
                </li>
                <li>
                    <a href="{{ path('admin_text_index') }}"><i class="fa fa-fw fa-dashboard"></i> Textes</a>
                </li>
                <li>
                    <a href="{{ path('artist_all') }}"><i class="fa fa-fw fa-dashboard"></i> Artistes</a>
                </li>
                <li>
                    <a href="{{ path('artist_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> Catégories d'artiste</a>
                </li>
                <li>
                    <a href="{{ path('album_all') }}"><i class="fa fa-fw fa-dashboard"></i> Albums</a>
                </li>
                <li>
                    <a href="{{ path('album_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> Catégories d'album</a>
                </li>
                <li>
                    <a href="{{ path('article_all') }}"><i class="fa fa-fw fa-dashboard"></i> Gérer les articles</a>
                </li>
                <li>
                    <a href="{{ path('media_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> Gérer les catégories média</a>
                </li>
                <li>
                    <a href="{{ path('media_all') }}"><i class="fa fa-fw fa-dashboard"></i> Gérer les médias</a>
                </li>
                <li>
                    <a href="{{ path('partenaire_all') }}"><i class="fa fa-fw fa-dashboard"></i> Partenaires</a>
                </li>
                <li>
                    <a href="{{ path('event_all') }}"><i class="fa fa-fw fa-dashboard"></i> Evènements</a>
                </li>
                <li>
                    <a href="{{ path('admin_users') }}"><i class="fa fa-fw fa-users"></i> Utilisateurs</a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}" target="_blank"><i class="fa fa-fw fa-globe"></i> Voir le site</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('components/bootstrap-formhelpers/dist/js/bootstrap-formhelpers.min.js') }}"></script>
<script src="{{ asset('components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ asset('components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('components/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<script src="{{ asset('components/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
