<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hexa Rec - Techno / Electronic Music Label {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('pages/css/half-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('pages/css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('pages/css/app.css') }}">

    <link rel="stylesheet" type="text/css" href=" https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css ">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('pages/img/logo/favicon.ico') }}">
</head>
<body>
<div class="docs-header">
    {{ render(controller("PagesBundle:Default:setBackground")) }}
    <!--nav-->
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="index.html"><img src="../asset/img/logo.png" height="40"></a-->
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('pages/img/logo/now_logo.png') }}" height="120"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link" id="home" href="{{ path('homepage') }}">HOME</a></li>
                    <li><a class="nav-link" id="artists" href="{{ path('artists') }}">ARTISTS</a></li>
                    <li><a class="nav-link" id="discography" href="{{ path('albums') }}">DISCOGRAPHY</a></li>
                    <li><a class="nav-link" id="videos" href="{{ path('videos') }}">VIDEOS</a></li>
                    <li><a class="nav-link" id="contact" href="{{ path('contact') }}">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-copyright text-center">
                    <a href="{{ path('mentions') }}">Copyright®2015 HEXA REC All rights reserved</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center" style="margin-top: 50px">
                <h3>FOLLOW US ON SOCIAL NETWORKS</h3>
                <a href="https://www.facebook.com/hexarec/" target="_blank" class="btn btn-facebook social-item"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://www.youtube.com/channel/UCaRjAMIwocYtLMgw41nNFKg" target="_blank" class="btn btn-youtube social-item"><i class="fa fa-youtube fa-2x"></i></a>
                <a href="https://soundcloud.com/hexarec" target="_blank" class="btn btn-soundcloud social-item"><i class="fa fa-soundcloud fa-2x"></i></a>
                <a href="" target="_blank" class="btn btn-bandcamp social-item"></a>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/plugins/jquery-1.11.js') }}"></script>
<script>
    jQuery(document).ready(function(){
        $(window).scroll(function() {
            console.log($(window).width());
            if(($(window).scrollTop() >= 50)) {
                console.log("scroll 50");
                $('.navbar-custom').css({
                    height:'80px',
                    backgroundColor: '#000'
                });
                $(".navbar-custom .navbar-brand").css({
                    height: '80px'
                });
            } else if(($(window).scrollTop() <= 50)) {
                $('.navbar-custom').css({
                    height:'100px',
                    backgroundColor: 'transparent'
                });
                $(".navbar-custom .navbar-brand").css({
                    height: '80px'
                });
            } else {
                $('.navbar-custom').css({
                    height:'100px'
                });
            }
        });
    });
</script>
<script src="{{ asset('pages/js/site.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>