<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('elite/images/logo/favicon.ico') }}">
    <title>Hexarec - Administration</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('elite/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('elite/js/jPlayer/jplayer.flat.css') }}" type="text/css" />
    <!-- Menu CSS -->
    <link href="{{ asset('elite/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('elite/css/animate.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('elite/css/style.css') }}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('elite/css/colors/blue-dark.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('elite/css/app.css') }}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
    <script>
        UPLOADCARE_PUBLIC_KEY = "7c4a8ae80f256105af6d";
    </script>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="ti-menu"></i>
            </a>
            <div class="top-left-part">
                <a class="logo" href="{{ path('admin_homepage') }}">
                    <img src="{{ asset('elite/images/logo/logo.png') }}" alt="" height="50">
                    <span class="hidden-xs">
                        <strong>HEXAREC</strong>
                    </span>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li>
                    <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i>
                    </a>
                </li>
                <li>
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span> </div>
                    <!-- /input-group -->
                </li>
                <li class="user-pro">
                    <a href="#" class="waves-effect"><img src="{{ asset('elite/images/users/1.jpg') }}" alt="user-img" class="img-circle"> <span class="hide-menu">Admin<span class="fa arrow"></span></span>
                    </a>
                    {#<ul class="nav nav-second-level">
                        <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                        <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>#}
                </li>
                <li class="nav-small-cap m-t-10">--- Main Menu</li>
                <li> <a href="{{ path('admin_homepage') }}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Dashboard</span></a> </li>
                <li class="nav-small-cap m-t-10">--- Professional</li>
                <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-microphone p-r-10"></i> <span class="hide-menu"> Albums <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{{ path('album_category_all') }}">Categories</a> </li>
                        <li> <a href="{{ path('album_all') }}">All Albums</a> </li>
                        <li> <a href="{{ path('album_add') }}">Add Album</a> </li>
                    </ul>
                </li>
                <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-user p-r-10"></i> <span class="hide-menu"> Artists <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{{ path('artist_category_all') }}">Categories</a> </li>
                        <li> <a href="{{ path('artist_all') }}">All Artists</a> </li>
                        <li> <a href="{{ path('artist_add') }}">Add Artist</a> </li>
                    </ul>
                </li>
                <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-microphone p-r-10"></i> <span class="hide-menu"> Slider <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{{ path('admin_slider_index') }}">All Slides</a> </li>
                        <li> <a href="{{ path('slide_add') }}">Add Slide</a> </li>
                    </ul>
                </li>
                <li> <a href="{{ path('background_index') }}" class="waves-effect"><i class="ti-upload p-r-10"></i> <span class="hide-menu">Background</span></a> </li>
                <li> <a href="{{ path('admin_text_index') }}" class="waves-effect"><i class="ti-upload p-r-10"></i> <span class="hide-menu">Textes</span></a> </li>
                <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-video-camera p-r-10"></i> <span class="hide-menu"> Videos <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{{ path('media_all') }}">Video List</a> </li>
                    </ul>
                </li>
                <li> <a href="javascript:void(0);" class="waves-effect"><i class="ti-video-camera p-r-10"></i> <span class="hide-menu"> Medias <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{{ path('media_category_all') }}">Categories</a> </li>
                        <li> <a href="{{ path('media_all') }}">All medias</a> </li>
                    </ul>
                </li>
                <li> <a href="{{ path('partenaire_all') }}" class="waves-effect"><i class="ti-upload p-r-10"></i> <span class="hide-menu">Partenaires</span></a> </li>
                <li> <a href="{{ path('admin_users') }}" class="waves-effect"><i class="ti-users p-r-10"></i> <span class="hide-menu">Administrateurs</span></a> </li>
                {#<li> <a href="{{ path('song_new') }}" class="waves-effect"><i class="ti-upload p-r-10"></i> <span class="hide-menu">Add Audio/Video</span></a> </li>
                <li> <a href="{{ path('song_index') }}" class="waves-effect"><i class="ti-music-alt p-r-10"></i> <span class="hide-menu">Audio</span></a> </li>#}
                <li><a href="{{ path('fos_user_security_logout') }}" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Déconnexion</span></a></li>
                <li><a href="{{ path('homepage') }}" target="_blank" class="waves-effect"><i class="icon-globe fa-fw"></i> <span class="hide-menu">Voir le site</span></a></li>

            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{{ asset('elite/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('elite/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ asset('elite/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('elite/js/jquery.slimscroll.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('elite/js/waves.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('elite/js/jPlayer/jquery.jplayer.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('elite/js/jPlayer/add-on/jplayer.playlist.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('elite/js/jPlayer/init.js') }}"></script>#}

<!-- Custom Theme JavaScript -->
<script src="{{ asset('elite/js/custom.min.js') }}"></script>
<script src="{{ asset('elite/js/dashboard2.js') }}"></script>
<!--Style Switcher -->
<script src="{{ asset('elite/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
<script src="{{ asset('elite/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>

</html>