<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js sidebar-large lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js sidebar-large lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js sidebar-large"><!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Hexarec.com - Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="themes-lab" name="author">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="{{ asset('assets/css/icons/icons.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('components/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="{{ asset('assets/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/metrojs/metrojs.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!-- END PAGE LEVEL STYLE -->
    <script src="{{ asset('assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>

<body data-page="dashboard">
{% include('admin/header.html.twig') %}
<!-- BEGIN WRAPPER -->
<div id="wrapper">
    <!-- BEGIN MAIN SIDEBAR -->
    <nav id="sidebar">
        <div id="main-menu">
            <ul class="sidebar-nav">
                <h4 class="menu-header" style="color: #ffffff;">ADMIN</h4>
                <li>
                    <a href="{{ path('admin_homepage') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_slider_index') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Slides</span></a>
                </li>
                <li>
                    <a href="{{ path('background_index') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Background</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_text_index') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Textes</span></a>
                </li>
                <li>
                    <a href="{{ path('artist_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Artistes</span></a>
                </li>
                <li>
                    <a href="{{ path('artist_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Catégories d'artiste</span></a>
                </li>
                <li>
                    <a href="{{ path('album_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Albums</span></a>
                </li>
                <li>
                    <a href="{{ path('album_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Catégories d'album</span></a>
                </li>
                <li>
                    <a href="{{ path('article_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Gérer les articles</span></a>
                </li>
                <li>
                    <a href="{{ path('media_category_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Gérer les catégories média</span></a>
                </li>
                <li>
                    <a href="{{ path('media_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Gérer les médias</span></a>
                </li>
                <li>
                    <a href="{{ path('partenaire_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Partenaires</span></a>
                </li>
                <li>
                    <a href="{{ path('event_all') }}"><i class="fa fa-fw fa-dashboard"></i> <span class="sidebar-text">Evènements</span></a>
                </li>
                <li>
                    <a href="{{ path('admin_users') }}"><i class="fa fa-fw fa-users"></i> <span class="sidebar-text">Utilisateurs</span></a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}" target="_blank"><i class="fa fa-fw fa-globe"></i> <span class="sidebar-text">Voir le site</span></a>
                </li>
            </ul>
        </div>
        <div class="footer-widget">
            <img src="{{ asset('assets/img/gradient.png') }}" alt="gradient effet" class="sidebar-gradient-img" />
            <div class="sidebar-footer clearfix">
                <a class="pull-left" href="{{ path('fos_user_security_logout') }}" rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </nav>
    <!-- END MAIN SIDEBAR -->


    <!-- BEGIN MAIN CONTENT -->
    <div id="main-content" class="dashboard">
        {% block body %}{% endblock %}
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END WRAPPER -->

<!-- BEGIN MANDATORY SCRIPTS -->
<script src="{{ asset('assets/plugins/jquery-1.11.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-migrate-1.2.1.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-select/bootstrap-select.js') }}"></script>
<script src="{{ asset('assets/plugins/icheck/icheck.js') }}"></script>
<script src="{{ asset('assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('assets/plugins/mmenu/js/jquery.mmenu.min.all.js') }}"></script>
<script src="{{ asset('assets/plugins/nprogress/nprogress.js') }}"></script>
<script src="{{ asset('assets/plugins/charts-sparkline/sparkline.min.js') }}"></script>
<script src="{{ asset('assets/plugins/breakpoints/breakpoints.js') }}"></script>
<script src="{{ asset('assets/plugins/numerator/jquery-numerator.js') }}"></script>
<!-- END MANDATORY SCRIPTS -->
<!-- FILE INPUT JS -->
<!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     This must be loaded before fileinput.min.js -->
<script src="{{ asset('components/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
     This must be loaded before fileinput.min.js -->
<script src="{{ asset('components/bootstrap-fileinput/js/plugins/sortable.min.js') }}" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
     This must be loaded before fileinput.min.js -->
<script src="{{ asset('components/bootstrap-fileinput/js/plugins/purify.min.js') }}" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="{{ asset('components/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<!-- optionally if you need a theme like font awesome theme you can include
    it as mentioned below -->
<script src="{{ asset('components/bootstrap-fileinput/themes/fa/theme.js') }}"></script>
<!-- optionally if you need translation for your language then include
    locale file as mentioned below -->
<script src="{{ asset('components/bootstrap-fileinput/js/locales/fr.js') }}"></script>
<!-- -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('assets/plugins/metrojs/metrojs.min.js') }}"></script>
<script src='{{ asset('assets/plugins/fullcalendar/moment.min.js') }}'></script>
<script src='{{ asset('assets/plugins/fullcalendar/fullcalendar.min.js') }}'></script>
<script src="{{ asset('assets/plugins/simple-weather/jquery.simpleWeather.min.js') }}"></script>
<script src="{{ asset('assets/plugins/google-maps/markerclusterer.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ asset('assets/js/calendar.js') }}"></script>
<script src="{{ asset('assets/js/dashboard.js') }}"></script>
<!-- END  PAGE LEVEL SCRIPTS -->
<script src="{{ asset('assets/js/application.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>

</html>