{% extends '::elite.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Music Dashboard</h4> </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- .row -->
    <div class="row el-element-overlay">
        <div class="col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Trending Albums</h3>
                <div class="row">
                    {% for album in albums %}
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="{{ asset('uploads/images/albums/' ~ album.image) }}">
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><a class="btn default btn-outline" href="{{ path('album_show', {'id': album.id}) }}"><i class="fa fa-play-circle-o fa-3x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="alb-info">
                                    <h5>{{ album.title }}</h5>
                                    <h6 class="text-muted">{{ album.artist.name }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Trending Videos</h3>
                <div class="row">
                    {% for media in medias %}
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    {% if media.code != null %}
                                        {{ media.code|raw }}
                                    {% elseif media.url != null %}
                                        {{ media.url }}
                                    {% elseif media.content != null %}
                                        {{ media.content|raw }}
                                    {% endif %}
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" href="{{ path('media_show', {'id': media.id}) }}">
                                                    <i class="fa fa-play-circle-o fa-3x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="vd-time badge bg-inverse hidden-xs">03:30</span>
                                </div>
                                <div class="alb-info text-center">
                                    <h5>{{ media.title|upper }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Trending Artists</h3>
                <div class="row">
                    {% for artist in artists %}
                        <div class="col-md-4 col-sm-4">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <a href="{{ path('artist_show', { 'id' : artist.id }) }}"><img src="{{ asset('uploads/images/artists/' ~ artist.image) }}" alt="user" class="img-circle img-responsive"></a>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3 class="box-title m-b-0">{{ artist.name }}</h3>
                                        <!-- .row -->
                                        <div class="row m-t-10">
                                            <div class="col-md-6 b-r">
                                                <strong>22</strong>
                                                <p>Albums</p>
                                            </div>
                                            <div class="col-md-6">
                                                <strong>15</strong>
                                                <p>Singles</p>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        <hr class="m-t-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="javascript: void(0);" class="text-purple m-r-10"><i class="fa fa-facebook fa-2x"></i></a>
                                                <a href="javascript: void(0);" class="text-blue m-r-10"><i class="fa fa-twitter fa-2x"></i></a>
                                                <a href="javascript: void(0);" class="text-danger m-r-10"><i class="fa fa-soundcloud fa-2x"></i></a>
                                                <a href="javascript: void(0);" class="text-success m-r-10"><i class="fa fa-spotify fa-2x"></i></a>
                                                <a href="javascript: void(0);" class="text-red"><i class="fa fa-youtube fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    {#<div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Trending Songs</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th class="text-nowrap">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>The song of ice and fire</td>
                            <td>Lord Stark</td>
                            <td>04:48</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" data-toggle="tooltip" data-original-title="Playing"> <i class="fa fa-pause-circle-o text-danger"></i> </a>
                            </td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>Blackwood</td>
                            <td>T. Lannister</td>
                            <td>03:33</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>Shut Up Society</td>
                            <td>M. Murdock</td>
                            <td>04:22</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>The Silent Nature</td>
                            <td>The Sourcerer</td>
                            <td>02:58</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>Suger-Salt</td>
                            <td>The Pianist</td>
                            <td>03:25</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>Pathetic Human</td>
                            <td>Philanthrophobia</td>
                            <td>07:58</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>The Nuke Zoned</td>
                            <td>Martian Metal</td>
                            <td>06:48</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>The Fault In Our Forehead</td>
                            <td>Artemis Fowl</td>
                            <td>04:04</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>#}
    <!-- /.row -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
            <div class="r-panel-body">
                <ul>
                    <li><b>Layout Options</b></li>
                    <li>
                        <div class="checkbox checkbox-info">
                            <input id="checkbox1" type="checkbox" class="fxhdr">
                            <label for="checkbox1"> Fix Header </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox checkbox-warning">
                            <input id="checkbox2" type="checkbox" class="fxsdr">
                            <label for="checkbox2"> Fix Sidebar </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox checkbox-success">
                            <input id="checkbox4" type="checkbox" class="open-close">
                            <label for="checkbox4"> Toggle Sidebar </label>
                        </div>
                    </li>
                </ul>
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" theme="default" class="default-theme">1</a></li>
                    <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                    <li><a href="javascript:void(0)" theme="blue" class="blue-theme">4</a></li>
                    <li><a href="javascript:void(0)" theme="purple" class="purple-theme working">5</a></li>
                    <li><a href="javascript:void(0)" theme="megna" class="megna-theme">6</a></li>
                    <li><b>With Dark sidebar</b></li>
                    <br/>
                    <li><a href="javascript:void(0)" theme="default-dark" class="default-dark-theme">7</a></li>
                    <li><a href="javascript:void(0)" theme="green-dark" class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" theme="gray-dark" class="yellow-dark-theme">9</a></li>
                    <li><a href="javascript:void(0)" theme="blue-dark" class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" theme="purple-dark" class="purple-dark-theme">11</a></li>
                    <li><a href="javascript:void(0)" theme="megna-dark" class="megna-dark-theme">12</a></li>
                </ul>
                <ul class="m-t-20 chatonline">
                    <li><b>Chat option</b></li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/varun.jpg') }}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/genu.jpg') }}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/ritesh.jpg') }}" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/arijit.jpg') }}" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/govinda.jpg') }}" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/hritik.jpg') }}" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/john.jpg') }}" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('elite/images/users/pawandeep.jpg') }}" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.right-sidebar -->
{% endblock %}