{% extends '::elite.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Audio Songs</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Music</a></li>
                <li class="active">Audio Songs</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">All Audio Songs</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th class="text-nowrap">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 1..5 %}
                            <tr>
                                <td>{{ i }}</td>
                                <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                                <td>The song of ice and fire</td>
                                <td>Lord Stark</td>
                                <td>04:48</td>
                                <td class="text-nowrap">
                                    <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {{ dump(songs) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
