{% extends '::elite.html.twig' %}

{% block body %}
    <h1>Song</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ song.title }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ song.file }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('song_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('song_edit', { 'id': song.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
