{% extends "::base.html.twig" %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul id="filters" class="nav nav-pills filters-nav">
                        <li role="presentation"><a href="" class="btn small transparent current" data-filter="*">All Items</a></li>
                        {% for category in categories %}
                            <li role="presentation"><a href="" class="btn small transparent" data-filter=".{{ category.slug }}">{{ category.name|upper }}</a></li>
                        {% endfor %}
                        {#<li role="presentation"><a href="" class="btn small transparent" data-filter=".clip">CLIPS</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".podcast">LE PODCAST</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".live">LIVE</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="container">
                    {% for media in medias %}
                        <div class="artist col-lg-3 col-md-4 col-sm-6 col-xs-12 {{ media.category.slug }}">
                            <a href="{{ path('media', {'slug': media.slug}) }}">
                                <figure class="item-thumb">
                                    <img src="{{ asset('uploads/images/medias/' ~ media.image) }}" class="img-responsive" alt="{{ media.title }}" title="{{ media.title }}">
                                </figure>
                            </a>
                            <div class="item-info">
                                <p class="item-title-main">{{ media.artist.name }} - {{ media.title }}</p>
                                <p class="item-byline">{{ media.date|date('d/m/Y') }}</p>
                            </div>
                            <a class="btn item-btn" href="{{ path('media', {'slug': media.slug}) }}">read </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('components/isotope/dist/isotope.pkgd.min.js') }}"></script>
    <script>
        $(window).load(function(){
            var $container = $('#container');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('#filters a').click(function(){
                $('#filters .current').removeClass('current');
                $(this).addClass('current');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}