{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        h1 {
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('videos') }}">
                                <button class="btn btn-info">
                                    <i class="fa fa-arrow-left"></i>
                                    Retour
                                </button>
                            </a>
                        </div>
                    </div>

                    <h1 class="page-header section-title">
                        {{ media.title }}
                    </h1>
                    <figure>
                        {% if media.code != null %}
                            {{ media.code|raw }}
                        {% elseif media.url != null %}
                            {{ media.url }}
                        {% elseif media.content != null %}
                            {{ media.content|raw }}
                        {% endif %}
                    </figure>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <br><br><br><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>CATÉGORIE</td>
                                    <td>
                                        {{ media.category.name|upper }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date de sortie</td>
                                    <td>{{ media.datePublication|date('d/m/Y') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}