{% extends "::base.html.twig" %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <ul id="filters" class="nav nav-pills filters-nav">
                        <li role="presentation"><a href="" class="btn small transparent" data-filter="*">All Items</a></li>
                        {% for category in categories %}
                            <li role="presentation"><a href="" class="btn small transparent" data-filter=".{{ category.slug }}">{{ category.name|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" id="container">
                    {% if medias|length != 0 %}
                        {% for media in medias %}
                            <div class="artist col-lg-6 col-md-6 col-sm-6 col-xs-6 {{ media.category.slug }}">
                                <a href="{{ path('media', {'slug': media.slug}) }}">
                                    <figure class="item-thumb">
                                        {% if media.code != null %}
                                            {{ media.code|raw }}
                                        {% elseif media.url != null %}
                                            {{ media.url }}
                                        {% elseif media.content != null %}
                                            {{ media.content|raw }}
                                        {% endif %}
                                    </figure>
                                </a>
                                {% if media.code is null %}
                                    <div class="item-info">
                                        <p class="item-title-main">{{ media.title|upper }}</p>
                                        <p class="item-byline">
                                            {{ media.category.name|upper }}
                                        </p>
                                    </div>
                                {% endif %}
                                <a class="btn item-btn" href="{{ path('media', {'slug': media.slug}) }}">read </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Aucun media pour le moment.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('components/isotope/dist/isotope.pkgd.min.js') }}"></script>
    <script>
        $("#videos").css('color','#B6A15D');
        $(window).load(function(){
            var $container = $('#container');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('#filters a').click(function(){
                $('#filters a').removeClass('current').css('background-color','#000');
                $(this).addClass('current').css('background-color','#B6A15D');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}