{% extends "::pixit.html.twig" %}
{% block title %} - Ajout d'un média {% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <a href="{{ path('media_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajouter un média</h1>
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_widget(form.slug) }}
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.datePublication) }}
    {{ form_label(form.url) }}
    {{ form_widget(form.url) }}
    {{ form_label(form.code) }}
    {{ form_widget(form.code) }}
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    <br>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_media_title"), $("#hexarec_adminbundle_media_slug"));
    </script>
{% endblock %}