{% extends "::elite.html.twig" %}
{% block stylesheets %}
    <style>
        .border {
            border: 1px solid #fff;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Video Songs</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Music</a></li>
                <li class="active">Video Songs</li>
            </ol>
        </div>
    </div>

    <div class="row el-element-overlay">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Video List</h3>
                <div class="row">
                    {% for media in medias %}
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    {% if media.code != null %}
                                        {{ media.code|raw }}
                                    {% elseif media.url != null %}
                                        {{ media.url }}
                                    {% elseif media.content != null %}
                                        {{ media.content|raw }}
                                    {% endif %}
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li>
                                                <a class="btn default btn-outline" href="{{ path('media_show', {'id': media.id}) }}">
                                                    <i class="fa fa-play-circle-o fa-3x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="vd-time badge bg-inverse hidden-xs">03:30</span>
                                </div>
                                <div class="alb-info text-center">
                                    <h5>{{ media.title|upper }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination pagination-split">
                            <li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                            <li class="active"> <a href="#">1</a> </li>
                            <li> <a href="#">2</a> </li>
                            <li> <a href="#">3</a> </li>
                            <li> <a href="#">4</a> </li>
                            <li> <a href="#">5</a> </li>
                            <li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}