{% extends '::elite.html.twig' %}

{% block body %}

	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Video Details</h4> </div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">Music</a>
				</li>
				<li class="active">Video Details</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12 text-center">
			<div class="white-box">
				<div class="row">
					<div class="col-sm-12">
                        {% if media.code != null %}
                            {{ media.code|raw }}
                        {% elseif media.url != null %}
                            {{ media.url }}
                        {% elseif media.content != null %}
                            {{ media.content|raw }}
                        {% endif %}
						<h2 class="m-t-20">{{ media.title }} - {{ media.category.name }}</h2>
						<p>
                            {{ media.content|raw }}
						</p>
						<hr>
						<div class="row">
							<div class="col-sm-8">
								<ul class="vd-details">
									<li><i class="fa fa-calendar"></i>  Oct. 07, 2017</li>
									<li><a href="JavaScript: void(0)"><i class="fa fa-share-alt"></i>  Share</a></li>
									<li><i class="fa fa-thumbs-up"></i> 4356</li>
									<li><i class="fa fa-thumbs-down"></i> 123</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<span class="pull-right vd-view">10,267 views</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}