{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        .grid-item {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <ul id="filters" class="nav nav-pills filters-nav">
                        <li role="presentation"><a href="" class="btn small transparent current" data-filter="*">All</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".2017">2017</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".2016">2016</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".2015">2015</a></li>
                        <li role="presentation"><a href="" class="btn small transparent" data-filter=".2014">2014</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="container">
                    {% if albums|length != 0 %}
                        {% for album in albums %}
                            <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-6 {{ album.releaseDate|date('Y') }}">
                                <a href="{{ path('album', {'slug': album.slug}) }}">
                                    <figure class="item-thumb">
                                        <img src="{{ asset('/uploads/images/albums/' ~ album.image) }}" alt="{{ album.title }}"
                                             class="img-responsive">
                                    </figure>
                                </a>
                                <div class="item-info">
                                    <p class="item-title-main">{{ album.artist.name }} - {{ album.title }}</p>
                                    <p class="item-byline">{{ album.releaseDate|date('d/m/Y') }}</p>
                                </div>
                                <a class="btn item-btn" href="{{ path('album', {'slug': album.slug}) }}">read </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('components/isotope/dist/isotope.pkgd.min.js') }}"></script>
    <script>
        $("#discography").css('color','#B6A15D');
        $(window).load(function(){
            var $container = $('#container');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('#filters a').click(function(){
                $('#filters a').removeClass('current').css('background-color','#000');
                $(this).addClass('current').css('background-color','#B6A15D');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}