{% extends "::base.html.twig" %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <ul id="filters" class="nav nav-pills filters-nav">
                        <li role="presentation"><a href="" class="btn small transparent" data-filter="*">All Items</a></li>
                        {% for category in categories %}
                            <li role="presentation"><a href="" class="btn small transparent" data-filter=".{{ category.slug }}">{{ category.name|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" id="container">
                    {% if artists|length != 0 %}
                        {% for artist in artists %}
                            <div class="artist col-lg-3 col-md-4 col-sm-6 col-xs-6 {{ artist.category.slug }}">
                                <a href="{{ path('artist', {'slug': artist.slug}) }}">
                                    <figure class="item-thumb">
                                        <img src="{{ asset('uploads/images/artists/' ~ artist.image) }}" class="img-responsive" alt="{{ artist.name }}" title="{{ artist.name }}">
                                    </figure>
                                </a>
                                <div class="item-info">
                                    <p class="item-title-main">{{ artist.name|upper }}</p>
                                    <p class="item-byline">
                                        {{ artist.category.name|upper }}
                                    </p>
                                </div>
                                <a class="btn item-btn" href="{{ path('artist', {'slug': artist.slug}) }}">read </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Aucun artiste pour le moment.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('components/isotope/dist/isotope.pkgd.min.js') }}"></script>
    <script>
        $("#artists").css('color','#B6A15D');
        $(window).load(function(){
            var $container = $('#container');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('#filters a').click(function(){
                $('#filters a').removeClass('current').css('background-color','#000');
                $(this).addClass('current').css('background-color','#B6A15D');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}