{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        .partners {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .partner {
            display: inline-block;
            height: 100px;
            width:180px;
            opacity:.9;
        }
        .partner:hover {
            opacity:1;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <!-- /.container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1 class="page-header">CONTACT</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-image: url({{ asset('pages/filtre/filtre.png') }})">
                            <p>
                                Label Manager: JB
                            </p>
                            <p>
                                Téléphone: <a href="tel:+33668236969">06 68 23 69 69</a>
                            </p>

                            <p>
                                E-Mail: <a href="mailto:hexarec@gmail.com">hexarec@gmail.com</a>
                            </p>
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="">PARTNERS</h2>
                </div>
            </div>
            <div class="row partners">
                {% for partenaire in partenaires %}
                    <a href="{{ partenaire.url }}" target="_blank" class="partner" style="background-image: url('{{ asset('uploads/images/partenaires/' ~ partenaire.image) }}'); background-size: cover; background-position: center; background-repeat: no-repeat"></a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $("#contact").css('color','#B6A15D');
    </script>
{% endblock %}