{% extends "::base.html.twig" %}

{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">UPCOMING EVENTS</h1>
                    {{ render(controller('PagesBundle:Default:comingEvents')) }}
                </div>
                <div class="col-md-12">
                    <h1 class="page-header">PAST EVENTS</h1>
                    {{ render(controller('PagesBundle:Default:pastEvents')) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}