{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('pages/css/defilement.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('pages/swiper/css/swiper.css') }}" type="text/css" />
    <style>
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 30%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            height: auto;
        }
        .swiper-slide img {
            width:100%;
            height:100%;
        }
        .swiper-slide:hover {
            opacity: .9;
        }
    </style>
{% endblock %}
{% block body %}
    <header class="container-fluid text-center" style="margin-top: 5%;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for slide in slides %}
                    {% if slide.album is null %}
                        {% set href = path('media', {'slug': slide.media.slug}) %}
                        <div class="swiper-slide">
                            <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                                <img src="{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}" alt="">
                            </a>
                        </div>
                    {% else %}
                        {% set href = path('album', {'slug': slide.album.slug}) %}
                        <div class="swiper-slide">
                            <a href="{{ path('album', {'slug': slide.album.slug}) }}">
                                <img src="{{ asset('uploads/images/albums/' ~ slide.album.image) }}" alt="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="fa fa-angle-left"></i>
            </div>
        </div>
    </header>

    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="page-header text-center">
                                LABEL
                            </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 marquee-container">
                            {% if bio.content is not null %}
                                {{ bio.content|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- /.container -->
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('pages/swiper/js/swiper.js') }}"></script>
    <script type="text/javascript">

        $("#home").css('color','#B6A15D');

        var list = document.querySelectorAll( 'p' );
        for (var i = 0; i < list.length; ++i) {
            var item = list[i];
            item.className = "marquee";
        }
        var iframe = $("iframe");
        iframe.attr('class','embed-responsive-item iframe');

        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 'auto',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 50,
            loop: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: true,
            breakpoints: {
                1800: {
                    slidesPerView: 4,
                    spaceBetween: 10
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 10
                },
                800: {
                    slidesPerView: 2,
                    spaceBetween: 10
                },
                414: {
                    slidesPerView: 1,
                    spaceBetween: 10
                }
            }
        });
    </script>
{% endblock %}