{% for event in events %}
    <div class="event col-xs-6">
        <a href="{{ path('event', {'slug': event.slug}) }}" class="item-hold">
            <figure class="item-thumb">
                <img src="{{ asset('uploads/images/events/' ~ event.image) }}" alt="{{ event.title }}" class="img-responsive">                                               </figure>
        </a>
        <div class="item-info">
            <p class="item-title-intro">{{ event.date|date('d/m/Y') }}</p>
            <p class="item-title-main">{{ event.title }}</p>
            <p class="item-byline">{{ event.location }}</p>
        </div>
        <a class="btn item-btn" href="{{ path('event', {'slug': event.slug}) }}">read more</a>
    </div>
{% endfor %}