<header class="container-fluid">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="col-lg-6 swiper-slide">
                    {% if slide.media is null %}
                        <a href="{{ path('album', {'slug': slide.album.slug}) }}">
                            <img src="{{ asset('uploads/images/albums/' ~ slide.album.image) }}" alt="{{ slide.album.artist.name }} - {{ slide.album.title }}">
                        </a>
                    {% elseif slide.album is null %}
                        {% if slide.media.url is not null %}
                            <a href="{{ slide.media.url }}" style="background-image: url('{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}');">
                                {#<a href="{{ slide.media.url }}">
                                    <img src="{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}" alt="{{ slide.media.title }}">#}
                            </a>
                        {% elseif slide.media.content is not null %}
                            <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                                {{ slide.media.content|raw }}
                            </a>
                        {% elseif slide.media.code is not null %}
                            <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                                {{ slide.media.code|raw }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="swiper-button-next">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</header>



{% for slide in slides %}
    {% if slide.media is null %}
        <img src="{{ asset('uploads/images/albums/' ~ slide.album.image) }}" alt="{{ slide.album.artist.name }} - {{ slide.album.title }}">
    {% elseif slide.album is null %}
        {% if slide.media.url is not null %}
            <a href="{{ slide.media.url }}" style="background-image: url('{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}');">
            </a>
        {% elseif slide.media.content is not null %}
            <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                {{ slide.media.content|raw }}
            </a>
        {% elseif slide.media.code is not null %}
            <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                <div class="embed-responsive embed-responsive-16by9">
                    {{ slide.media.code|raw }}
                </div>
            </a>
        {% endif %}
    {% endif %}
{% endfor %}

{% for slide in slides %}
    <div class="item col-md-3 col-sm-4 col-xs-12">
        {% if slide.media is null %}
            <a href="{{ path('album', {'slug': slide.album.slug}) }}">
                <img src="{{ asset('uploads/images/albums/' ~ slide.album.image) }}" alt="{{ slide.album.artist.name }} - {{ slide.album.title }}">
            </a>
        {% elseif slide.album is null %}
            {% if slide.media.url is not null %}
                <a href="{{ slide.media.url }}" style="background-image: url('{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}');">
                    {#<a href="{{ slide.media.url }}">
                        <img src="{{ asset('uploads/images/medias/thumbs/' ~ slide.media.image) }}" alt="{{ slide.media.title }}">#}
                </a>
            {% elseif slide.media.content is not null %}
                <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                    {{ slide.media.content|raw }}
                </a>
            {% elseif slide.media.code is not null %}
                <a href="{{ path('media', {'slug': slide.media.slug}) }}">
                    {{ slide.media.code|raw }}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        paginationClickable: true,
        speed: 1400,
        loop: true,
        spaceBetween: 30,
        /*breakpoints: {
         1660: {
         slidesPerView: 3,
         spaceBetween: 50
         },
         990: {
         slidesPerView: 2,
         spaceBetween: 20
         },
         600: {
         slidesPerView: 1,
         spaceBetween: 10
         }
         },*/
        //autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>