{% extends "::pixit.html.twig" %}
{% block title %} - Ajout d'une catégorie {% endblock %}

{% block body %}
    <a href="{{ path('category_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajouter une catégorie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}