{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        h1 {
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('albums') }}">
                                <button class="btn btn-info">
                                    <i class="fa fa-arrow-left"></i>
                                    Retour
                                </button>
                            </a>
                        </div>
                    </div>
                    <h1 class="page-header section-title">
                        {{ album.title|upper }} - {{ album.artist.name|upper }}
                    </h1>
                    {{ album.embed|raw }}
                    <hr>
                    <div class="text-justify" style="background-image: url('{{ asset('pages/filtre/filtre.png') }}'); padding: 10px">
                        {{ album.content|raw }}
                    </div>
                </div>
                <div class="col-md-4">
                    <br><br><br><br>
                    <img src="{{ asset('uploads/images/albums/' ~ album.image) }}" alt="{{ album.title }}"
                         class="img-responsive" style="border: 1px solid #fff; margin-top: 10px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>DATE DE SORTIE</td>
                            <td>{{ album.releaseDate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>CATÉGORIE</td>
                            <td>{{ album.category.name }}</td>
                        </tr>
                        <tr>
                            <td>REMIXERS</td>
                            <td>
                                {% for remixer in album.remixers %}
                                    <a href="{{ path('artist', {'slug': remixer.slug}) }}">{{ remixer.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}