{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        h1 {
            color: #ffffff;
        }
        .grid-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .grid-item a {
            margin: auto;
            display: inline-block;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('artists') }}">
                                <button class="btn btn-info">
                                    <i class="fa fa-arrow-left"></i>
                                    Retour
                                </button>
                            </a>
                        </div>
                    </div>

                    <h1 class="page-header section-title">
                        {{ artist.name }}
                    </h1>
                    <p class="text-justify" style="padding: 20px;">
                        {{ artist.content|raw }}
                    </p>
                    <br>
                    <hr>
                    {% for album in artist.albums %}
                        <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-6 {{ album.releaseDate|date('Y') }}">
                            <a href="{{ path('album', {'slug': album.slug}) }}">
                                <figure class="item-thumb">
                                    <img src="{{ asset('/uploads/images/albums/' ~ album.image) }}" alt="{{ album.title }}"
                                         class="img-responsive">
                                </figure>
                            </a>
                            <div class="item-info">
                                <p class="item-title-main">{{ album.title }}</p>
                                <p class="item-byline">{{ album.releaseDate|date('d/m/Y') }}</p>
                            </div>
                            <a class="btn item-btn" href="{{ path('album', {'slug': album.slug}) }}">read </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <br><br><br><br>
                    <img src="{{ asset('uploads/images/artists/' ~ artist.image) }}" alt="{{ artist.name }}"
                         class="img-responsive" style="margin-top: 10px">
                    {% if artist.facebook is not null %}
                        <a href="{{ artist.facebook }}" target="_blank"><i class="fa fa-facebook-official" style="font-size: 2.5em; margin: 10px; padding: 10px; color: #A6A9AD;"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}