{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        h1 {
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block body %}
    <section id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('events') }}">
                                <button class="btn btn-info">
                                    <i class="fa fa-arrow-left"></i>
                                    Retour
                                </button>
                            </a>
                        </div>
                    </div>

                    <h1 class="page-header section-title">
                        {{ event.title }}
                    </h1>
                    <p class="text-justify">
                        {{ event.content }}
                    </p>
                </div>
                <div class="col-md-4">
                    <br><br>
                    <img src="{{ asset('uploads/images/events/' ~ event.image) }}" alt="{{ event.title }}"
                         class="img-responsive">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>DATE</td>
                                    <td>{{ event.date|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <td>TIME</td>
                                    <td>{{ event.time|date('H:i') }}</td>
                                </tr>
                                <tr>
                                    <td>LOCATION</td>
                                    <td>{{ event.location }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}