{% extends "::elite.html.twig" %}
{% block title %} - Ajout d'un artiste {% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Add Artist</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="">Music</a></li>
                <li class="active">Add Artist</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Ajouter un artiste</h3>
                    {{ form_start(form) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_label(form.facebook) }}
                    {{ form_widget(form.facebook) }}
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug) }}
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_artist_name"), $("#hexarec_adminbundle_artist_slug"));
    </script>
{% endblock %}