{% extends "::elite.html.twig" %}
{% block stylesheets %}
    <style>
        .border {
            border: 1px solid #fff;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Artists</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Music</a></li>
                <li class="active">Artists</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <a href="{{ path('artist_add') }}">
        <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un artiste</button>
    </a>
    <!-- .row -->
    <div class="row">
        <!-- .col -->
        {% for artist in artists %}
            <div class="col-md-4 col-sm-4">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <a href="{{ path('artist_show', { 'id' : artist.id }) }}"><img src="{{ asset('uploads/images/artists/' ~ artist.image) }}" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3 class="box-title m-b-0">{{ artist.name }}</h3>
                            <!-- .row -->
                            <div class="row m-t-10">
                                <div class="col-md-6 b-r">
                                    <strong>22</strong>
                                    <p>Albums</p>
                                </div>
                                <div class="col-md-6">
                                    <strong>15</strong>
                                    <p>Singles</p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <hr class="m-t-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ artist.facebook }}" target="_blank" class="text-purple m-r-10"><i class="fa fa-facebook fa-2x"></i></a>
                                    <a href="javascript: void(0);" class="text-blue m-r-10"><i class="fa fa-twitter fa-2x"></i></a>
                                    <a href="javascript: void(0);" class="text-danger m-r-10"><i class="fa fa-soundcloud fa-2x"></i></a>
                                    <a href="javascript: void(0);" class="text-success m-r-10"><i class="fa fa-spotify fa-2x"></i></a>
                                    <a href="javascript: void(0);" class="text-red"><i class="fa fa-youtube fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /.col -->
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}