{% extends "::elite.html.twig" %}
{% block title %} - Modification de l'artiste {{ artist.name }}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Edit Artist</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="">Music</a></li>
                <li class="active">Edit Artist</li>
                <li>
                    <a href="{{ path('artist_edit',{'id': artist.id}) }}">
                        Modifier
                    </a>
                </li>
                <li>
                    <a href="{{ path('artist_remove',{'id': artist.id}) }}">
                        Supprimer
                    </a>
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Basic Information</h3>
                {{ form_start(form) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_label(form.facebook) }}
                {{ form_widget(form.facebook) }}
                {{ form_label(form.slug) }}
                {{ form_widget(form.slug) }}
                {{ form_label(form.image) }}
                <img src="{{ asset('uploads/images/artists/' ~ artist.image) }}" alt="" class="img-responsive">
                {{ form_widget(form.image, {'attr': {'value': artist.image}}) }}
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_artist_name"), $("#hexarec_adminbundle_artist_slug"));
    </script>
{% endblock %}