{% extends '::elite.html.twig' %}

{% block body %}
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Artist Detail</h4> </div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">Music</a></li>
				<li class="active">Artist Detail</li>
				<li>
					<a href="{{ path('artist_edit', { 'id' : artist.id }) }}">
						Modifier
					</a>
				</li>
				<li>
					<a href="{{ path('artist_remove', { 'id' : artist.id }) }}">
                        Supprimer
					</a>
				</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-xs-12">
			<div class="white-box">
				<div class="user-bg">
					<img width="100%" alt="user" src="{{ asset('uploads/images/artists/') ~ artist.image }}">
				</div>
				<div class="user-btm-box">
					<!-- .row -->
					<div class="row text-center m-t-10">
						<div class="col-md-6 b-r"><strong>Name</strong>
							<p>{{ artist.name }}</p>
						</div>
						<div class="col-md-6"><strong>Genre</strong>
							<p>{{ artist.category.name }}</p>
						</div>
					</div>
					<!-- /.row -->
					<hr>
					<!-- .row -->
					<div class="row text-center m-t-10">
						<div class="col-md-6 b-r"><strong>Albums</strong>
							<p>25</p>
						</div>
						<div class="col-md-6"><strong>Singles</strong>
							<p>15</p>
						</div>
					</div>
					<!-- /.row -->
					<hr>
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="{{ artist.facebook }}" target="_blank" class="text-purple m-r-20"><i class="fa fa-facebook fa-2x"></i></a>
							<a href="javascript: void(0);" class="text-blue m-r-20"><i class="fa fa-twitter fa-2x"></i></a>
							<a href="javascript: void(0);" class="text-danger m-r-20"><i class="fa fa-soundcloud fa-2x"></i></a>
							<a href="javascript: void(0);" class="text-success m-r-20"><i class="fa fa-spotify fa-2x"></i></a>
							<a href="javascript: void(0);" class="text-red"><i class="fa fa-youtube fa-2x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-xs-12">
			<div class="white-box">
				<p>
                    {{ artist.content|raw }}
				</p>
				<h4 class="m-t-20">Songs (Singles)</h4>
				<hr>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>#</th>
							<th></th>
							<th>Title</th>
							<th>Artist</th>
							<th>Duration</th>
							<th class="text-nowrap">Download</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1</td>
							<td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
							<td>The song of ice and fire</td>
							<td>Lord Stark</td>
							<td>04:48</td>
							<td class="text-nowrap">
								<a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
								<a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
								<a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<h4 class="m-t-20">Albums</h4>
				<hr>
				<div class="row el-element-overlay">
                    {% for album in albums %}
						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1"> <img src="{{ asset('uploads/images/albums/' ~ album.image) }}">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a class="btn default btn-outline" href="{{ path('album_show', {'id': album.id}) }}"><i class="fa fa-play-circle-o fa-3x"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="alb-info">
									<h5>{{ album.title }}</h5>
									<h6 class="text-muted">{{ album.artist.name }}</h6>
								</div>
							</div>
						</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}