/* for audio player */

footer.mplayer {
  padding: 0 20px;
  position: fixed;
}
.mplayer a,
.mvdplayer a{
	color: @white;
}
.mplayer.play-progress, .mplayer .play-progress {
    background-color: rgba(0, 0, 0, .2);
}
.mplayer .current-time {
  position: absolute;
  top: 22px;
  left: 25px;
}
.mplayer .duration {
  position: absolute;
  top: 22px;
  right: 25px;
}
.mplayer .jp-volume {
  width: 122px !important;
}
.mplayer .jp-seek-bar, .jp-volume-bar-value {
  background-color: @info;
}
a.jp-playlist-item span.jp-artist{
  display: table;
  padding-top: 5px;
  padding-left: 30px; 
}
.jp-playlist ul {
  max-height: 300px;
}
.jp-controls .p-l a {
  padding-left: 16px;
}

/* for video player */

.mvdplayer .jp-gui .jp-play-bar {
  height: 3px;
}

.mvdplayer .jp-video {
  position: relative;
}

.mvdplayer .jp-gui {
  position: absolute;
  bottom: 0;
}

.mvdplayer .current-time {
  position: absolute;
  top: 22px;
}
.mvdplayer .duration {
  position: absolute;
  top: 22px;
  left: 43px;
}
.mvdplayer .jp-volume {
  width: 100px !important;
}

.mvdplayer.play-progress, .mvdplayer .play-progress {
    background-color: @red;
}

.mvdplayer .jp-interface {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.mvdplayer div.duration:before {
    content: "/ ";
}

.mvdplayer div.jp-progress {
  padding: 0 10px;
}

.mvdplayer .jp-title {
  left: 100px;
}

.mvdplayer .jp-video-play {
  top: auto;
  bottom: 215%;
  margin-top: 0px;
}