{% extends "::elite.html.twig" %}
{% block body %}
    <a href="{{ path('admin_slider_index') }}">
        <button class="btn btn-info">
            Retour
        </button>
    </a>
    <br>
    <img src="{{ asset('uploads/images/albums/' ~ slide.image) }}" alt="" width="600">
{% endblock %}