{% extends "::elite.html.twig" %}
{% block title %} - Modification du slide{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('admin_slider_index') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification du slide</h1>
    {{ form_start(form) }}
    {{ form_row(form.album) }}
    {{ form_row(form.media) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}