{% extends "::elite.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les slides de la page d'accueil</h1>
        </div>
        <div class="col-md-12">
            <a href="{{ path('slide_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un slide</button>
            </a>
            <br><br>
            {% if slides|length == 0 %}
                Vous n'avez défini aucun slide.
            {% endif %}
            {% for slide in slides %}
                <div class="col-sm-2">
                    Slide {{ slide.id }}<br>
                    <a href="{{ path('slide_show', {'id': slide.id}) }}">
                        <button class="btn btn-info">
                            Voir le slide
                        </button>
                    </a>
                    <br>
                    <a href="{{ path('slide_edit', {'id': slide.id}) }}">
                        <button class="btn btn-warning">
                            Modifier le slide
                        </button>
                    </a>
                    <br>
                    <a href="{{ path('slide_remove', {'id': slide.id}) }}">
                        <button class="btn btn-danger">
                            Supprimer le slide
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}