body {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

.item {
	height: 200px;
	margin-bottom: 30px;
	border: 1px solid transparent;

	background-color: #2196F3;
}
.item h2 {
	margin: 0;
	color: #fff;
	line-height: 200px;
}