{% extends "::pixit.html.twig" %}
{% block title %} - Ajout d'un article {% endblock %}

{% block body %}
    <a href="{{ path('article_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajouter un article</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.date) }}
                        {{ form_widget(form.date) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.author) }}
                        {{ form_widget(form.author) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}
                    </div>
                </div>
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                <br>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function() {
            $("#article_form_image").fileinput({
                showCaption: true
            });
        });
    </script>
{% endblock %}