{% extends "::pixit.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les articles</h1>
        </div>
        <div class="col-md-12">
            <a href="{{ path('article_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un article</button>
            </a>
            <br><br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Titre de l'article</th>
                        <th>Illustration de l'article</th>
                        <th>Contenu de l'article</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if articles|length == 0 %}
                        Vous n'avez pas encore ajouté d'articles.
                    {% endif %}
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td>
                                <img src="{{ asset('uploads/images/articles/' ~ article.image) }}"
                                     alt="{{ article.title }}" width="100"
                                     class="img-responsive">
                            </td>
                            <td>{{ article.content|summary(article.content)|capitalize }}</td>
                            <td>
                                <a href="{{ path('article_edit', { 'id' : article.id }) }}" title="">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-edit"></i> Modifier
                                    </button>
                                </a>
                                <a href="{{ path('article_show', { 'id' : article.id }) }}" title="">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>
                                <a href="{{ path('article_remove', { 'id' : article.id }) }}" title="">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Supprimer
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}