{% extends "::pixit.html.twig" %}
{% block title %} - Modification de l'article {{ article.title }}{% endblock %}
{% block stylesheets %}
    <style>
        form > div.row {
            margin-bottom: 20px;
        }
        .file-preview {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <a href="{{ path('article_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification de l'article {{ article.title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.date) }}
                        {{ form_widget(form.date, {'attr': {'value': "now"|date('d/m/Y H:i')}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.author) }}
                        {{ form_widget(form.author, {'attr': {'value': user.username}}) }}
                    </div>
                </div>
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                <br>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function() {
            $("#article_form_image").fileinput({
                showCaption: true,
                defaultPreviewContent: '<img src="{{ asset('uploads/articles/' ~ article.image) }}" alt="Your Avatar" style="width:160px">'
            });
            var title = $('#article_form_title').val();

            function generate_slug(str) {
                slug = strtolower(str);

                slug = slug.replace(/[^a-z0-9s-]/, "", slug);
                slug = slug.trim();
                slug = slug.replace(/[s-]+/, " ", slug);
                slug = slug.replace(/s/, "-", slug);
                $('#article_form_slug').value = slug;
            }
        });
    </script>
{% endblock %}