{% trans_default_domain 'FOSUserBundle' %}

<form class="form-horizontal" id="recoverform" action="{{ path('fos_user_resetting_send_email') }}" method="post">
    <div class="form-group ">
        <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input type="text" id="username" name="username" required="required" placeholder="Username">
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </div>
</form>