{% if background != null %}
    {% if background.image != null %}
        <style>
            body {
                background-color: #ffffff;
                background-image: url('{{ asset('uploads/images/backgrounds/' ~ background.image) }}');
                background-position: left top;
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                color: #ffffff;
            }
        </style>
    {% else %}
        <style>
            body {
                background-color: #ffffff;
                background-image: url('{{ asset('uploads/images/backgrounds/00defd4646bcba1cd5e0eb1710d0d92a.jpeg') }}');
                background-position: left top;
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                color: #ffffff;
            }
        </style>
    {% endif %}
{% else %}
    <style>
        body {
            background-color: lightgrey;
            background-position: left top;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            color: #ffffff;
        }
    </style>
{% endif %}