{% extends "::elite.html.twig" %}
{% block title %} - Ajout d'un album {% endblock %}
{% block stylesheets %}
    <style>
        .form_item {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Add Album</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Music</a></li>
                <li class="active">Add Album</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Album Details</h3>
                {{ form_start(form) }}
                <div class="row form_item">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.slug) }}
                    </div>
                </div>
                <div class="row form_item">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.releaseDate) }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.image) }}
                    </div>
                </div>
                <div class="row form_item">
                    <div class="col-xs-12">
                        {{ form_row(form.content) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.embed) }}
                    </div>
                </div>
                <div class="row form_item">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.category) }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_row(form.artist) }}
                    </div>
                </div>
                <div class="row form_item">
                    <div class="col-xs-12">
                        {{ form_row(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        $(document).ready(function() {
            slugifyName($("#hexarec_adminbundle_album_title"), $("#hexarec_adminbundle_album_slug"));
            $('.mydatepicker').datepicker();
        });
    </script>
{% endblock %}