{% extends "::elite.html.twig" %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Albums</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Music</a></li>
                <li class="active">Albums</li>
                <li>
                    <a href="{{ path('album_add') }}">Ajouter un album</a>
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <a href="{{ path('album_add') }}">
        <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un album</button>
    </a>
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    {% for album in albums %}
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="{{ asset('uploads/images/albums/' ~ album.image) }}">
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><a class="btn default btn-outline" href="{{ path('album_show', { 'id' : album.id }) }}"><i class="fa fa-play-circle-o fa-3x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="alb-info">
                                    <h5>{{ album.title }}</h5>
                                    <h6 class="text-muted">{{ album.artist.name }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}