{% extends "::elite.html.twig" %}
{% block title %} - Modification de l'album {{ album.title }}{% endblock %}
{% block stylesheets %}
    <style>
        .form_item {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <a href="{{ path('album_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification de l'album {{ album.title }}</h1>
    {{ form_start(form) }}
    <div class="row form_item">
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.slug) }}
        </div>
    </div>
    <div class="row form_item">
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.releaseDate) }}
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.image, {'attr': {'value': album.image}}) }}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Voir l'image
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Cover {{ album.title }}</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ asset('uploads/images/albums/' ~ album.image) }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form_item">
        <div class="col-xs-12">
            {{ form_row(form.content) }}
        </div>
        <div class="col-xs-12">
            {{ form_row(form.embed) }}
        </div>
    </div>
    <div class="row form_item">
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.category) }}
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ form_row(form.artist) }}
        </div>
    </div>

    <div class="row form_item">
        <div class="col-xs-12">
            {{ form_row(form.remixers) }}
        </div>
    </div>

    <div class="row form_item">
        <div class="col-xs-12">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_album_title"), $("#hexarec_adminbundle_album_slug"));
    </script>
{% endblock %}