{% extends '::elite.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Album Details</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Music</a></li>
                <li class="active">Album Details</li>
                <li>
                    <a href="{{ path('album_edit', {'id': album.id}) }}">
                        Modifier
                    </a>
                </li>
                <li>
                    <a href="{{ path('album_remove', {'id': album.id}) }}">
                        Supprimer
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row el-element-overlay">
        <div class="col-md-4 col-xs-12">
            <div class="white-box">
                <div class="user-bg">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"> <img alt="user" src="{{ asset('uploads/images/albums/' ~ album.image) }}">
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline" href=""><i class="fa fa-play-circle-o fa-5x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box">
                    <!-- .row -->
                    <div class="row text-center">
                        <div class="col-md-12 m-b-20">
                            <h3>{{ album.title }}</h3>
                            <h5>{{ album.artist.name }}</h5>
                        </div>
                        <div class="col-md-6 b-r">
                            <strong>Created Date</strong>
                            <p>{{ album.releaseDate|date('d/m/Y') }}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Category</strong>
                            <p>{{ album.category.name }}</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr class="hidden-sm hidden-xs">
                    <!-- .row -->
                    <div class="row text-center">
                        <div class="col-md-6 b-r">
                            <strong>Tracks</strong>
                            <p>15</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Run Time</strong>
                            <p>40:35 Min</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 b-r">
                            <strong>Description</strong>
                            <p>
                                {{ album.content|raw }}
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 b-r">
                            <strong>Remixers</strong>
                            <p>
                                {% for remixer in album.remixers %}
                                    <img src="{{ asset('uploads/images/artists/' ~ remixer.image) }}" alt="" width="100">
                                    {{ remixer.name }}
                                    <a href="{{ path('remixer_remove', {'id': album.id, 'slug': remixer.slug}) }}">
                                        Supprimer ce remixer
                                    </a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-purple">
                            <i class="ti-facebook"></i>
                        </p>
                        <h1>258</h1>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-blue">
                            <i class="ti-twitter"></i>
                        </p>
                        <h1>125</h1>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-danger">
                            <i class="ti-google"></i>
                        </p>
                        <h1>140</h1>
                    </div>
                    <div class="col-md-12">
                        <form action="{{ path('album_show', {'id': album.id}) }}" method="post">
                            <label for="remixers">Ajouter un remixer pour cet album</label>
                            <select name="remixers" id="remixers" class="form-control">
                                {% for remixer in remixers %}
                                    <option value="{{ remixer.id }}">{{ remixer.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Valider" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-md-8 col-xs-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th class="text-nowrap">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                            <td>The song of ice and fire</td>
                            <td>Lord Stark</td>
                            <td>04:48</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Download"> <i class="fa fa-download text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Bookmark"> <i class="fa fa-bookmark text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-times text-inverse"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>#}
    </div>
    <!-- /.row -->
{% endblock %}