{% extends "::elite.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les utilisateurs</h1>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>EMail</th>
                        <th>Activé</th>
                        <th>Dernière connexion</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th>ROLES</th>
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if users|length == 0 %}
                        Vous n'avez pas encore d'utilisateurs.
                    {% endif %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.enabled %} Oui {% else %} Non {% endif %}</td>
                            <td>{{ user.lastLogin|date('d/m/Y H:i') }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                {% for role in user.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin_user_remove', {'id': user.id}) }}" class="btn btn-danger">
                                    Supprimer
                                </a>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}