<li class="dropdown" id="user-header">
    <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img src="{{ asset('assets/img/avatars/avatar2.png') }}" alt="user avatar" width="30" class="p-r-5">
        <span class="username">{{ user.username|capitalize }}</span>
        <i class="fa fa-angle-down p-r-10"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">
                <i class="glyph-icon flaticon-account"></i> My Profile
            </a>
        </li>
        <li class="dropdown-footer clearfix">
            <a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
                <i class="glyph-icon flaticon-fullscreen3"></i>
            </a>
            <a href="{{ path('fos_user_security_logout') }}" title="Logout">
                <i class="fa fa-power-off"></i>
            </a>
        </li>
    </ul>
</li>