<ul class="nav navbar-right top-nav">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username|capitalize }} <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li>
				<a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-fw fa-user"></i> Profile</a>
			</li>
			<li>
				<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
			</li>
		</ul>
	</li>
</ul>