{% extends "::elite.html.twig" %}

{% block body %}
    <a href="{{ path('user_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification de l'utilisateur {{ user.username}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}