{% extends "::elite.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les évènements</h1>
        </div>
        <div class="col-md-12">
            <a href="{{ path('event_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un évènement</button>
            </a>
            <br><br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date</th>
                        <th>Localisation</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if events|length == 0 %}
                        Vous n'avez pas encore ajouté d'évènement.
                    {% endif %}
                    {% for event in events %}
                        <tr>
                            <td>{{ event.title }}</td>
                            <td>{{ event.date|date('d/m/Y H:i') }}</td>
                            <td>{{ event.location }}</td>
                            <td>
                                <a href="{{ path('event_edit', { 'id' : event.id }) }}" title="">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-edit"></i> Modifier
                                    </button>
                                </a>
                                <a href="{{ path('event_show', { 'id' : event.id }) }}" title="">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>
                                <a href="{{ path('event_remove', { 'id' : event.id }) }}" title="">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Supprimer
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            /* Using custom settings */

            $("a#inline").fancybox({
                'hideOnContentClick': true
            });

            /* Apply fancybox to multiple items */

            $("a.fancy-group").fancybox({
                'transitionIn'	:	'elastic',
                'transitionOut'	:	'elastic',
                'speedIn'		:	600,
                'speedOut'		:	200,
                'overlayShow'	:	true
            });
        })
    </script>
{% endblock %}