{% extends "::elite.html.twig" %}
{% block title %} - Modification de l'évènement {{ event.title }} {% endblock %}

{% block body %}
    <a href="{{ path('event_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification de l'évènement {{ event.title }}</h1>
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    <br>
    {{ form_label(form.slug) }}
    {{ form_widget(form.slug) }}
    <br>
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    <br>
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    <br>
    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
    <br>
    {{ form_label(form.time) }}
    {{ form_widget(form.time) }}
    <br>
    {{ form_label(form.location) }}
    {{ form_widget(form.location) }}
    <br>
    {{ form_widget(form.save) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        $(function() {
            slugifyName($("#hexarec_adminbundle_event_title"), $("#hexarec_adminbundle_event_slug"));
        });
    </script>
{% endblock %}