{% extends '::elite.html.twig' %}

{% block body %}
    <a href="{{ path('event_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Affiche</th>
                <th>Date</th>
                <th>Localisation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.content }}</td>
                    <td>
                        <a class="fancy-group" href="{{ asset('uploads/images/events/' ~ event.image) }}">
                            <img src="{{ asset('uploads/images/events/' ~ event.image) }}" alt="{{ event.title }}"
                                 class="img-responsive">
                        </a>
                    </td>
                    <td>{{ event.date|date('d/m/Y H:i') }}</td>
                    <td>{{ event.location }}</td>
                    <td>
                        <a href="{{ path('event_edit', { 'id' : event.id }) }}" title="">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-edit"></i> Modifier
                            </button>
                        </a>
                        <a href="{{ path('event_remove', { 'id' : event.id }) }}" title="">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-remove"></i> Supprimer
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ dump(event) }}
{% endblock %}