{% extends '::elite.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {{ form(form) }}
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        {% for background in backgrounds %}
        <div class="col-md-3 col-lg-2 text-center">
            <form action="{{ path('background_change', {'id': background.id}) }}" method="get">
                <a href="{{ asset('uploads/images/backgrounds/' ~ background.image) }}">
                    <img src="{{ asset('uploads/images/backgrounds/' ~ background.image) }}" alt="" width="200">
                </a>
                <br>
                {% if background.active == 1 %}
                    Activé
                {% else %}
                    <input type="submit" value="Définir comme fond" class="btn btn-primary">
                {% endif %}
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}