{% extends "::elite.html.twig" %}
{% block title %} - Ajout d'une catégorie {% endblock %}
{% block stylesheets %}
	<style>
	</style>
{% endblock %}

{% block body %}
    <a href="{{ path('media_category_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajouter une catégorie</h1>
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_widget(form.slug) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_mediacategory_name"), $("#hexarec_adminbundle_mediacategory_slug"));
    </script>
{% endblock %}