{% extends "::elite.html.twig" %}
{% block title %} - Modification de la categorie {{ category.name }} {% endblock %}

{% block body %}
    <a href="{{ path('media_category_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modification de la categorie {{ category.name }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_mediacategory_name"), $("#hexarec_adminbundle_mediacategory_slug"));
    </script>
{% endblock %}