{% extends "::elite.html.twig" %}
{% block title %} - Ajout d'un partenaire {% endblock %}
{% block stylesheets %}
    <style>
        .img-upload-btn {
            position: relative;
            overflow: hidden;
            /*padding-top: 45%;*/
        }

        .img-upload-btn input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 200px;
            min-height: 200px;
            font-size: 50px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        .img-upload-btn i {
            position: absolute;
            height: 16px;
            width: 16px;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px;
        }
    </style>
{% endblock %}

{% block body %}
    <a href="{{ path('partenaire_all') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Ajout d'un partenaire</h1>
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.url) }}
    {{ form_widget(form.url) }}
    {{ form_widget(form.slug) }}
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
        slugifyName($("#hexarec_adminbundle_partenaire_name"), $("#hexarec_adminbundle_partenaire_slug"));
    </script>
{% endblock %}