{% extends "::elite.html.twig" %}
{% block stylesheets %}
    <style>
        .border {
            border: 1px solid #fff;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les partenaires</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('partenaire_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un partenaire</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div id="container">
            {% if partenaires|length == 0 %}
                Aucun partenaire.
            {% else %}
                {% for partenaire in partenaires %}
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 border text-center">
                        <h4>{{ partenaire.name }}</h4>
                        <figure>
                            <img src="{{ asset('uploads/images/partenaires/' ~ partenaire.image) }}" height="200" alt="">
                        </figure>
                        <a href="{{ path('partenaire_show', { 'id' : partenaire.id }) }}" title="">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </button>
                        </a>
                        <a href="{{ path('partenaire_edit', { 'id' : partenaire.id }) }}" title="">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                        <a href="{{ path('partenaire_remove', { 'id' : partenaire.id }) }}" title="">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}