{% extends "::elite.html.twig" %}
{% block title %} - Modification d'un texte {% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <a href="{{ path('admin_text_index') }}">
        <button class="btn btn-default">
            <i class="fa fa-backward"></i>
            Retour en arrière
        </button>
    </a>
    <h1 class="text-center">Modifier le texte</h1>
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/slugify.js') }}"></script>
    <script>
    </script>
{% endblock %}