{% extends "::elite.html.twig" %}
{% block stylesheets %}
    <style>
        .border {
            border: 1px solid #fff;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Gérer les textes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('text_add') }}">
                <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter un texte</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div id="container">
            {% if texts|length == 0 %}
                Aucun texte.
            {% else %}
                {% for text in texts %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 border text-center">
                        <h4>{{ text.name }}</h4>
                        <p>
                            {{ text.content|raw }}
                        </p>
                        <a href="{{ path('text_edit', { 'id' : text.id }) }}" title="">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                        <a href="{{ path('text_remove', { 'id' : text.id }) }}" title="">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}